

ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  
  li{float:left;
  }
  
  li a {
    display:block;
  color: white;
  text-align:center;
  padding:8px;
  text-decoration:none;
  }
  
  li a:hover:not(.active) {background-color: #ef3d33;
  }
  
  .active{background-color:#000;
  }
  
  body {
    background-color:black;
  }
  
  h1 {font: fantasy;
  text-align: left;
  color: orangered; 
  font-size: 50px;
  text-shadow: 2px 2px white; }
  
  table {
    font-family: Verdana;
    color:white;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid white;
    text-align: center;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #3b3939;
  }
   
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #ef3d33;
}
